# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/novapack?retryWrites=true&w=majority

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here

# Server
PORT=5000

# Client
CLIENT_URL=http://localhost:5173
